<p class="cat-app-about">

    This is my implementation of the Categories Tree component and little application,<br>
     described in the Engage3 assignment, and according to my understanding of the requirements.
    <br><br>
    
    It is implemented using Angular 8  (Angular: 8.0.1, Angular CLI: 8.0.3,  Node: 10.16.0)<br><br>

    It displays a tree data presenting a Categories hierarchy (or any type of tree data).
    <br>
    It provides for exploring the categories at various levels and creating new (sub)categories.
    <br>
    Only category's name and children are kept and shown, as nothing was specified about having additional category's data <br>
    (like description, or other attributes), but the model and implementation can be easily extended to include such data.<br>
    Absent any too specific data elements and logic, this implementation is quite general-usable for any simple data tree structure.    <br>
    Data is supplied by a data service, injected in the data model, behind the tree component.<br>
    For the purposes of this sample app, the 'get categories' service returns a harcoded initial Categories data tree.
    
    <br><br><br>

    <a routerLink="/data-tree-view"><mat-icon class="mat-icon-rtl-mirror"> arrow_right_alt     </mat-icon>
      Go to Categories Data Tree View  
    </a>
    
    
    <br><br><br>
   
    <a routerLink="/contact"> <i> Stefka Tzankova </i></a> 

</p>
