
<p class="cat-app-home">

Hi Engage3,
<br><br>
This is my implementation of the Categories Tree component and little application,
described in the Engage3 assignment.
<br><br>
I had pleasure implementing it.<br>
I hope you have fun playing with it.<br>
<br>


<a routerLink="/data-tree-view"><mat-icon class="mat-icon-rtl-mirror"> arrow_right_alt     </mat-icon>
  Go to Categories Data Tree View  
</a>


<br><br><br>
Thank you<br><br>
<a routerLink="/contact"> <i> Stefka Tzankova </i></a> 

</p>

